body{
	font-family: 'PT Sans', sans-serif;
}

.clearfix:after{
	content: "";
	height: 0;
	clear: both;
	display: block;
}
.header{
	font-family: 'PT Sans', sans-serif;
	padding-bottom: 15px;
}
.head{
	color: #999;
	text-align: center;
}
	.yel-head{
		color: #444;
	}
.telephone{
	width: 415px;
}
.tel-block, .feedback{
	float: left;
}
.feedback{
	cursor:pointer;
	display: block;
	font-size: 18px;
	background-color: #2db1d7;
	-webkit-border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	width: 160px;
	height: 42px;
	text-align: center;
	padding-top: 7px;
	margin-left: 40px;
	margin-top: 19px;
	box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
	-webkit-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	transition: 0.2s all ease-in-out;
}
	.feedback:hover{
		text-decoration: none;
		color: #fff;
		background-color: #0099ff;
	}
	.yel-feedback{
		background-color: #ffff33;
		color: #444;
		box-shadow: 0 -6px 0px -3px rgba(204, 204, 0, 1) inset;
	}
		.yel-feedback:hover{
			background-color: #cccc00;
			box-shadow: 0 -6px 0px -3px rgba(255, 255, 51, 1) inset;
		}
.tel-block{
	padding-left: 50px;
	background: url(../images/tel.png)no-repeat;
	height: 50px;
	color: #999;
	font-size: 24px;
	margin-top: 19px;
	padding-top: 3px;
}
	.yel-tel-block{
		background: url(../images/yel-tel.png)no-repeat;
		color: #444;
	}
.nav ul li{
	float: left;
	list-style: none;
	margin-right: 2px;
}
.nav{
	  position: relative;
      float: right;
      right: 50%;
      font-family: 'PT Sans', sans-serif;
}
	.nav ul{
		  position: relative;
		  float: left;
		  left: 50%;
		  margin-bottom: 0;
	}
		.nav ul li a{
			display: inline-block;
			padding: 20px;
			padding-top: 21px;
			padding-bottom: 19px;
			width: 140px;
			text-align: center;
			font-size: 18px;
			color: #666;
			background-color: transparent;
			-webkit-transition: 0.2s all;
			-o-transition: 0.2s all;
			transition: 0.2s all;
			position: relative;
		}
			.nav ul li a:hover,.nav ul li a.active{
				text-decoration: none;
				background-color: #2db1d7;
				color: #fff;
			}

			.nav ul li a:hover:after,.nav ul li a.active:after{
				content: "";
				display: block;
				position: absolute;
				border-bottom: 3px solid #2191c9;
				width: 100%;
				bottom: -3px;
				left: 0;
			}
		.yel-nav ul li a{
			color: #fff;
		}
			.yel-nav ul li a:hover,.yel-nav ul li a.active{
				color: #444;
				background-color: #ffff33;
			}
			.yel-nav ul li a:hover:after,.yel-nav ul li a.active:after{
				border-bottom: 3px solid #cccc00;
			}
.main-nav{
	background-color: #cecdcd;
	border-bottom: 3px solid #999999;
}
	.yel-main-nav{
		background-color: #444;
		border-bottom: 3px solid #222;
	}
.sprite{
	background-image: url(../images/carousel.png);
    background-repeat: no-repeat;
    display: block;
    width: 32px;
	height: 60px;
}
	.sprite-yel{
		background-image: url(../images/carousel-yel.png);
	}
.carousel-left{
	background-position: -5px -5px;
}
	.carousel-left:hover{
		background-position: -5px -75px;
	}
.carousel-right{
	background-position: -5px -145px;
}
	.carousel-right:hover{
		background-position: -5px -215px;
	}
.text-slide{
	background-image: url(../images/text-carousel.png);
    background-repeat: no-repeat;
    display: block;
    width: 32px;
	height: 60px;
}
.item-img{
	width: 100%;
	height: 460px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%
}
.order-link{
	display: block;
	width: 200px;
	height: 38px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	margin: auto;
	background-color: transparent;
	-webkit-border-radius: 6px;
	-moz-webkit-border-radius: 6px;
	-ms-webkit-border-radius: 6px;
	-o-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #fff;
	padding-top: 3px;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;

}
	.order-link:hover{
		text-decoration: none;
		color: #fff;
		background-color: #2db1d7;
		border: 2px solid transparent;
	}
	.order-link-yel:hover{
		background-color: #cccc00;
	}
.info{
	width: 980px;
	height: 74%;
	background: url(../images/geom.png)no-repeat;
	position: absolute;
	background-size: cover;
	background-position: 50% 50%;
	top: -40px;
	left: 50%;
	margin-left: -490px;
	text-align: center;
	padding-top: 40px;
}
	.yel-info{
		background: url(../images/geom-yel.png)no-repeat;
	}
.text{
	font-size: 30px;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	padding-top: 5%;
	padding-right: 25%;
	padding-left: 25%;
}
	.text h2{
		font-weight: 700;
		margin-bottom: 0;
	}
	.yel-text{
		color: #444;
	}
.carousel-inner img{
	width: 100%;
}
.our-block{
	position: relative;
    float: right;
    right: 50%;
}
.our-container{
	  position: relative;
	  float: left;
	  left: 50%;
	  margin-top: 25px;
	  margin-bottom: 60px;
}
.our-container .adv-block{
	float: left;
	margin-right: 60px;
	text-align: center;
	width: 145px;
}
	.our-container .adv-block:last-child{
		margin-right: 0;
	}
	.adv-block p{
		font-size: 18px;
		margin-top: 10px;
	}
.our-advantages h2{
	text-align: center;
	font-weight: 700;
	color: #999;
}
.product{
	background-color: #999;
	height: 400px;
	padding-left: 40px;
	padding-top: 35px;
}
.product form input{
	width: 200px;
	height: 40px;
	padding-left: 10px;
	font-size: 18px;
	margin-left: 20px;
}
	.product form input[type="text"]{
		margin-top: 20px;
		background-color: transparent;
		border: 2px solid #fff;
		-webkit-border-radius: 6px;
		-moz-webkit-border-radius: 6px;
		-ms-webkit-border-radius: 6px;
		-o-webkit-border-radius: 6px;
		border-radius: 6px;
		color: #fff;
		outline: 0;
	}
		.product form input[type="submit"]{
			margin-top: 35px;
			-webkit-border-radius: 6px;
			-moz-webkit-border-radius: 6px;
			-ms-webkit-border-radius: 6px;
			-o-webkit-border-radius: 6px;
			border-radius: 6px;
			background-color: #47cce6;
			border: 0;
			color: #fff;
			padding-bottom: 5px;
			-webkit-box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
			-moz-box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
			box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
			-webkit-transition: 0.2s background-color ease-in-out;
			-o-transition: 0.2s background-color ease-in-out;
			transition: 0.2s background-color ease-in-out;
		}
			.product form input[type="submit"]:hover{
				background-color: #0099ff;
			}

		
.product form input::-webkit-input-placeholder{color:#fff !important;}
.product form input::-moz-placeholder{color:#fff !important;}
.product form input:-moz-placeholder{color:#fff !important;}
.product form input:-ms-input-placeholder{color:#fff !important;}

.timer h3{
	font-weight: 700;
	text-align: center;
}
.share-bg{
	background: url(../images/bg.jpg)no-repeat;
	background-size: cover;
	height: 400px;
}
.product h2{
	margin-top: 0;
	color: #fff;
	margin-bottom: 17px;
}
.share{
	width: 470px;
	float: right;
	margin-right: 60px;
}
.info-block{
	height: 400px;
}
	.share h2{
		font-weight: 700;
		color: #fff;
		font-size: 36px;
		margin-top: 35px;
	}
	.share p{
		font-size: 18px;
		color: #fff;
	}
.timer h3{
	font-weight: 700;
	color: #fff;
}
.text-slider{
	width: 1000px;
	margin: 40px auto;
}
.carousel-inner .product-img img{
	width: auto;
	position: relative;
	top: -10px;
}
.product-img{
	width: 300px;
	height: 300px;
	float: left;
	background-color: #2db1d7;
	text-align: center;
	margin-top: 10px;
	margin-left: 65px;
}
.product-text{
	float: left;
	width: 545px;
	margin-left: 20px;
}
	.product-text h2{
		font-weight: 700;
		color: #999;
		border-bottom: 1px solid #2db1d7;
		padding-bottom: 10px;
		margin-top: 5px;
	}
	.product-text p{
		font-size: 14px;
		color: #999;
		line-height: 25px;
	}
.p-link{
	  display: block;
	  -webkit-border-radius: 6px;
	  -moz-webkit-border-radius: 6px;
	  -ms-webkit-border-radius: 6px;
	  -o-webkit-border-radius: 6px;
	  border-radius: 6px;
	  background-color: #47cce6;
	  border: 0;
	  color: #fff;
	  padding-bottom: 5px;
	  -webkit-box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
	  -moz-box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
	  box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
	  -webkit-transition: 0.2s background-color ease-in-out;
	  -o-transition: 0.2s background-color ease-in-out;
	  transition: 0.2s background-color ease-in-out;
	   width: 200px;
	  height: 40px;
	  font-size: 18px;
	  text-align: center;
	  padding-top: 5px;
	  text-decoration: none !important;
}
	.p-link:hover{
		background-color: #0099ff;
		color: #fff;
		text-decoration: none;
	}
.text-slider .carousel-control{
	left: 0;
}
	.text-slider .carousel-control.right{
		right: 0;
		left: auto;
	}
.gallery-img{
	position: relative;
	border:1px solid #fff;
	width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

	.gallery-desc{
		width: 100%;
		height: 100%;
		position:absolute;
		top: 0;
		left: 0;
		background: url(../images/gal-desc.png)no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		text-align: center;
		color: #ffffff;
		padding-top: 23%;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: 0.2s all ease-in-out;
		-o-transition: 0.2s all ease-in-out;
		transition: 0.2s all ease-in-out;
	}
		.gallery-desc h4{
			font-size: 24px;
			margin-bottom: 0;
		}
		.gallery-desc p{
			font-size: 18px;
			margin-top: 3%;
		}
.gallery .main-h3{
	text-align: center;
	font-size: 30px;
	color: #999;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 40px;
}
.gallery-img:hover .gallery-desc{
	visibility: visible;
	opacity: 1;
}
.action{
	margin-top: 60px;
}
.review{
	margin-top: 60px;
}
	.review .main-h3{
	text-align: center;
	font-size: 30px;
	color: #999;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 50px;
}
.review-container{
	width: 945px;
	margin: auto;
}
	.review-container>div{
		margin-left: -25px;
	}
.rev-avat{
	float: left;
	width: 139px;
	height: 139px;
}
.rev-text{
	float: left;
	width: 310px;
	height: 166px;
	background: url(../images/com.png);
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #999;
	padding: 10px 10px 10px 25px;
	margin-left: 10px; 
}
.review-block{
	float: left;
	margin-left: 25px;
	margin-bottom: 40px;
}
.maps{
	height: 400px;
	background: url(../images/maps.jpg)no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}
	.contacts{
		position: absolute;
		left: 50%;
		top:50%;
		width: 320px;
		height: 320px;
		margin-top: -160px;
		margin-left: -160px;
		background: url(../images/contact.png);
	}
.contacts{
	padding-top: 50px;
	padding-left: 30px;
}
.contacts h3{
	font-size: 30px;
	color: #fff;
	font-weight: 700;
	padding-left: 70px;
}
	.contacts ul{
		list-style: none;
		font-size: 24px;
		color: #fff;
		padding-left: 37px;
		margin-top: 20px;
		line-height: 1.5;
	}
.con-sprite {
    background-image: url(../images/con-sprite.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 10px;
   
}

.sprite-convert {
    width: 24px;
    height: 18px;
    background-position: -5px -5px;
    position: relative;
    top: 9px;
}

.sprite-gps {
    width: 23px;
    height: 31px;
    background-position: -5px -33px;
    position: relative;
    top: 6px;
}

.sprite-tele {
    width: 16px;
    height: 25px;
    background-position: -5px -74px;
    position: relative;
    top: 5px;
    left: 5px;
    margin-right: 15px;
}
.question{
	padding-top: 60px;
	padding-bottom: 60px;
}
	.question .main-h3{
		text-align: center;
		font-size: 30px;
		color: #999;
		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
	}
		.question .main-h3 span{
			color: #2db1d7;
		}

.ques-field{
	margin-top: 40px;
}
.field-block {
	margin-left: -45px;
}
	.ques-field input[type="text"]{
		outline: 0;
		border:1px solid #999;
		width: 200px;
		height: 40px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-family: 'PT Sans', sans-serif;
		font-size: 18px;
		color: #999;
		padding-left: 10px;
	}
	.ques-field input[type="submit"]{
		width: 200px;
		height: 40px;
		font-family: 'PT Sans', sans-serif;
		font-size: 18px;
		-webkit-border-radius: 5px;
		-moz-webkit-border-radius: 5px;
		-ms-webkit-border-radius: 5px;
		-o-webkit-border-radius: 5px;
		border-radius: 5px;
		background-color: #47cce6;
		border: 0;
		color: #fff;
		padding-bottom: 5px;
		-webkit-box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
		-moz-box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
		box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
		-webkit-transition: 0.2s background-color ease-in-out;
		-o-transition: 0.2s background-color ease-in-out;
		transition: 0.2s background-color ease-in-out;
	}
		.ques-field input[type="submit"]:hover{
				background-color: #0099ff;
			}
	.ques-field .input-block{
		float: left;
		margin-left: 45px;
	}
.question-block{
	width: 945px;
	margin: auto;
}

.timer{
	width: 415px;
}
.ccounter{
	height: 100px;
}
.knob{
	font-size: 32px !important;
	height: 38px !important;
	margin-top: 18px !important;
	font-family: "Open Sans",sans-serif !important;
	font-weight: 700 !important;
}
.ccounter-text{
	position: relative;
	top: -15px;
	z-index: 2;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #fff;
}
.ccounter-text span:first-child{
	margin-left: 20px;
}
.ccounter-text span:nth-child(2){
	margin-left: 55px;
}
.ccounter-text span:nth-child(3){
	margin-left: 57px;
}
.ccounter-text span:nth-child(4){
	margin-left: 48px;
}
.navbar-btn{
	width: 26px;
	height: 18px;
	background: url(../images/btn.png);
	border: 0;
	outline: 0;
	position: relative;
	margin-left: 20px;
	margin-right: 15px;
}
.timer-send{
	display: block;
	text-decoration: none !important;
	position: relative;
	z-index: 10;
	-webkit-border-radius: 6px;
	-moz-webkit-border-radius: 6px;
	-ms-webkit-border-radius: 6px;
	-o-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #47cce6;
	border: 0;
	color: #fff !important;
	padding-bottom: 5px;
	width: 210px;
	height: 40px;
	margin: auto;
	margin-bottom: 20px;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	padding-top: 5px;
	-webkit-box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
	-moz-box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
	box-shadow: 0 -6px 0px -3px rgba(33, 145, 201, 1) inset;
	-webkit-transition: 0.2s background-color ease-in-out;
	-o-transition: 0.2s background-color ease-in-out;
	transition: 0.2s background-color ease-in-out;
}
	.timer-send:hover{
		background-color: #0099ff;
	}
.item h2.visible-xs{
	text-align: center;
	font-size: 24px;
	font-family: 'PT Sans',sans-serif;
	font-weight: 700;
	color: #999;
}
	.item h2.visible-xs:after{
		content: "";
		display: block;
		width: 325px;
		margin: auto;
		margin-top: 20px;
		border-bottom: 1px solid #2db1d7;
	}






@media(min-width: 992px){
	.navbar-btn{
		display: none;
	}
}
@media(max-width: 1199px){
	
}
@media(max-width: 991px){
	.item-img{
		height: 300px;
	}
	.info{
		background: url(../images/geom-small.png)no-repeat;
		background-size: cover;
	}
	#carousel-example-generic .carousel-control{
		display: none;
	}
	
	.text{
		padding-top: 1%;
	}
	.share{
		width: 80%;
		margin: auto;
		float: none;
		text-align: center;
	}
	.timer{
		margin: auto;
	}
	.ccounter-text{
		text-align: left;
	}
	.product{
		height: auto;
		padding: 20px 25px;
	}
	.product form input{
		width: 22%;
		float: left;
		margin-top: 0 !important;
		font-size: 16px;
	}
	.product form{
		margin-left: -20px;
	}
	.text-slider{
		width: 100%;
	}
	.product-img{
		width: 30%;
		height: auto;
	}
	.carousel-inner .product-img img{
		width: 96%;
	}
	.product-text{
		width: 55%;
		padding-right: 30px;
	}
	.text-slider .carousel-control.right{
		right: 5px;
	}
	.text-slider .carousel-control{
		left: 5px;
	}
	.product-text p{
		line-height: 22px;
	}
	.rev-text{
		background: none;
		border:2px solid #999;
		padding: 5px 5px 5px 10px;
		margin-left: 25px;
		position: relative;
		height: 240px;
		width: 50%;
	}
		.rev-text:before{
			content: "";
			display: block;
			position: absolute;
			width: 13px;
			height: 25px;
			background: url(../images/arrow.png)no-repeat #fff;
			left: -13px;
			top: 60px;
		}
	.review-container{
		width: 100%;
	}
	.review-block{
		width: 47%;
		margin-left: 15px;
	}
	.ques-field{
		width: 490px;
		margin: auto;
		margin-top: 40px;
	}
		.ques-field .input-block{
			margin-bottom: 20px;
		}
	.question{
		padding-top: 20px;
	}
	.question-block{
		width: 100%;
	}
	.head h2{
		font-size: 24px;
		text-align: left;
	}
	.our-block{
		float: none;
		right: auto;
		width: 650px;
		margin: auto;
	}
	.our-container{
		float: none;
		left: auto;
		margin-left: -90px;
		margin-bottom: 0;
	}
	.our-container .adv-block{
		margin-left: 90px;
		margin-right: 0;
		margin-bottom: 35px;
	}
		.our-container .adv-block:nth-child(4){
			margin-left: 206px;
		}

}
@media(max-width: 767px){
	.telephone-head{
		width: auto;
	}
	.tel-block{
		float: right;
		margin-right: 10px;
	}
	.carousel-indicators{
		bottom: 0;
		width: 35%;
	}
	.our-block{
		width: 380px;
	}
	.our-container .adv-block:nth-child(4){
		margin-left: 90px;
	}
	.our-container .adv-block:nth-child(3){
		margin-left: 203px;
	}
	.share-bg{
		height: auto;
	}
	.share p{
		font-size: 14px;
	}
	.share h2{
		font-size: 24px;
	}
	.timer h3{
		font-size: 18px;
	}
	.text h2,.text p{
		font-size: 20px;
	}
	.ccounter-text span{
		font-size: 16px;
	}
	.knob{
		font-size: 24px !important;
		margin-top: 20px !important;
	}
	.ccounter-text span:nth-child(2){
		margin-left: 66px;
	}
	.ccounter-text span:nth-child(4){
		margin-left: 55px;
	}
	.product-img,.product-text{
		float: none;
		margin-left: 0;
	}
	.product-text{
		width: 100%;
		padding: 0;
		margin-top: 15px;
		text-align: center;
	}
	.product-img{
		width: 100%;
		margin-top: 30px;
	}
	.carousel-inner .product-img img{
		width: 93%;
	}
	.s-item-block{
		width: 400px;
		margin: auto;
	}
	.p-link{
		width: 220px;
		margin: auto;
	}
	
	.slider-tovar-link{
		text-align: center;
		margin-top: 15px;
	}
	.slider-tovar-show{
		display: inline-block;
		text-decoration: none !important;
		font-size: 14px;
		color: #999999;
		border-bottom: 1px dashed #999999;
		cursor: pointer;
	}
		.slider-tovar-show:hover{
			color: #2191c9;
			border-bottom: 1px dashed #2191c9;
		}
	.gallery-desc{
		padding-top: 12%;
	}
	.gallery-show{
		display: block;
		width: 177px;
		height: 40px;
		margin: auto;
		background: url(../images/gallery-show.png)no-repeat;
		text-align: center;
		text-decoration: none !important;
		color: #fff !important;
		margin-top: 20px;
		cursor: pointer;
	}
		.gallery-show:hover{
			background: url(../images/gallery-show-h.png)no-repeat;
		}
	.review-block{
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.review-container{
		width: 450px;
		margin: auto;
	}
	.rev-text{
		height: auto;
		width: 62%;
	}
	.review-container>div{
		margin-left: 0;
	}
	.question .main-h3{
		font-size: 24px;
		font-weight: 400;
	}
		.question .main-h3 span{
			font-weight: 700;
		}
	.ques-field .input-block{
		float: none;
		margin-left: 0;
	}
	.field-block{
		margin-left: 0;
		width: 200px;
		margin: auto;
	}
	.review{
		margin-top: 25px;
	}
	.ques-field{
		width:auto;
	}
	.feedback{
		display: none;
	}
}
@media(max-width: 600px){
	.head h2{
		font-size: 18px;
		margin-top: 16px;
	}
	.tel-block{
		font-size: 18px;
	}
	.head h2 button{
		position: relative;
		top: 2px;
	}
	.tel-block{
		background: url(../images/tel-s.png)no-repeat;
		background-position: 1px 6px;
		padding-left: 25px;
	}
	.header{
		padding-bottom: 0;
	}
	.question{
		padding-bottom: 30px;
	}
}